name: CI Build and Test

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build:
        name: Validate Build & Tests
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Set up Java 17
                uses: actions/setup-java@v4
                with:
                    distribution: 'temurin'
                    java-version: '17'

            -   name: Cache Maven dependencies
                uses: actions/cache@v4
                with:
                    path: ~/.m2
                    key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
                    restore-keys: |
                        ${{ runner.os }}-maven-

            -   name: Build & Test
                run: mvn clean package
